<div id="landing">
  <div class="landing-title" style="display: flex; justify-content: center;">
    <div style="backdrop-filter: blur(6px);">
      <h1 style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Hi, I&#39;m
        <span class="highlight-title">
          <div class="bouncing-text">
            <div>&nbsp;</div>
            <div class=".bouncing-text y">Y</div>
            <div class=".bouncing-text i">i</div>
            <div class=".bouncing-text d">d</div>
            <div class=".bouncing-text a">a</div>
            <div>&nbsp;</div>
            <div class=".bouncing-text c">C</div>
            <div class=".bouncing-text h">h</div>
            <div class=".bouncing-text e">e</div>
            <div class=".bouncing-text n">n</div>
            <div>&nbsp;</div>
          </div>
        </span> 😊
      </h1>
      <h1>
        <span id="txt-rotate" data-period="800"
          data-rotate='["{{site.typing_text}}", "Human-AI Interaction", "Deep Learning", "Internal World Models", "Generative AIs", "scroll down for more."]'
        >
        </span>
        <br><br>
        <span class="self-intro">
          &lt; CS Ph.D. Student at Harvard &gt;
        </span>
      </h1>
      <div class="landing-icons">
        {% if site.email != null %}
          <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}""></use>
              </svg>
            </div>
            <span class="label">E-Mail</span>
          </a>
        {% endif %}

        {% if site.github_username != null %}
          <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
            href="https://github.com/{{site.github_username}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">GitHub</span>
          </a>
        {% endif %}

        {% if site.codepen_username != null %}
          <a class="social-link" aria-label="My Codepen" target="_blank" rel="noreferrer"
            href="https://codepen.io/{{site.codepen_username}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#codepen" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">CodePen</span>
          </a>
        {% endif %}

        {% if site.dev_username != null %}
          <a class="social-link" aria-label="My DEV" target="_blank" rel="noreferrer"
            href="https://dev.to/{{site.dev_username}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#dev" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">DEV</span>
          </a>
        {% endif %}

        {% if site.linkedin_username != null %}
          <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank"
            rel="noreferrer" href="https://www.linkedin.com/in/{{site.linkedin_username}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">LinkedIn</span>
          </a>
        {% endif %}

        <a class="social-link twitter" aria-label="My Google Scholar" target="_blank"
          rel="noreferrer" href="https://scholar.google.com/citations?user=PptmLrYAAAAJ&hl=en">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#scholar-cap-icon" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Scholar</span>
        </a>

        <a class="social-link resume" aria-label="My CV" target="_blank"
          rel="noreferrer" href="https://drive.google.com/file/d/1RRE5ivlmyc3-NM1Wuw-nvpMir4aZWjV9/view?usp=sharing">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#paper-profile-icon" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">CV</span>
        </a>

        {% if site.twitter_username != null %}
          <a class="social-link twitter" aria-label="My Twitter" target="_blank"
            rel="noreferrer" href="https://twitter.com/{{site.twitter_username}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">Twitter</span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
